# Node
node_modules/
dist/
*.tsbuildinfo
*.tgz

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
.env
.env.*
!.env.example
pids/
*.pid
*.seed

# Coverage
coverage/
.nyc_output/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode
.vscode/*
!.vscode/extensions.json

# JetBrains
.idea/
*.iml
*.iws
*.ipr
out/
